# --- Data Lake (MinIO) ---
MINIO_ENDPOINT=http://localhost:9000
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=minio_password

# --- Metastore & Backend (Postgres) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin_password
POSTGRES_DB=metastore

# --- Visualization (Superset) ---
SUPERSET_SECRET_KEY=super_secret_lakehouse_key
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin_password

# --- Query Engine (Trino) ---
TRINO_USER=admin